.root {
	position: relative;
	padding: 56px 80px 0;
}

.slide {
	max-width: 400px;
	width: 100%;
}

.sliderControls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	position: absolute;
	width: calc(100% - 160px);
	top: 56px;
	bottom: 0;
	margin: auto;
	z-index: 10;
}
